<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div class="footer_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="footer">
                    <div class="copy">
                        <p class="w3-link">© All Rights Reserved | Design by ; <a href="mailto:mcsf13m024@pucit.edu.pk"> MCSF13M024</a></p>
                    </div>
                    <div class="f_nav">
                        <ul>
                            <li><a href="/Register/Register">Registration</a></li>
                            <li><a href="https://www.facebook.com/Punjab.University.College.of.IT">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
